schemas/defaultSoundfonts.xsd

<xsd:schema xmlns="tab" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="tab">
	
	<xsd:element name="soundfonts" type="SoundfontsConfigComplexType"/>
	
	<xsd:complexType name="SoundfontsConfigComplexType">
		<xsd:sequence>			
			<xsd:element name="bass" type="SingleInstrumentConfig" minOccurs="0"/>
			<xsd:element name="electric" type="SingleInstrumentConfig" minOccurs="0"/>
			<xsd:element name="acoustic" type="SingleInstrumentConfig" minOccurs="0"/>
			<xsd:element name="drums" type="SingleInstrumentConfig" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="defaultSoundfont" type="xsd:string" use="optional"/>							
	</xsd:complexType>
	
	<xsd:complexType name="SingleInstrumentConfig">
		<xsd:attribute name="soundfontFile" type="xsd:string" use="optional"/>
		<xsd:attribute name="bank" type="xsd:nonNegativeInteger"/>
		<xsd:attribute name="program" type="xsd:nonNegativeInteger"/>		
	</xsd:complexType>
</xsd:schema>